* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    min-height: 100vh;
    width: 100%;
    padding: 23px;
    background-color: #202124;
}

#input-box {
    margin-top: 5%;
    border: 1px solid black;
    padding: 23px;
}

input,
textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    margin-top: 6px;
}

button {
    background: transparent;
    color: #00FFFF;
    padding: 8px 12px;
    border: 1px solid #00FFFF;
}

.note-card {
    width: 250px;
    color: white;
    padding: 12px;
    border: 1px solid rgb(83, 82, 82);
    margin: 2%;

}

.delete-note:hover {
   
   color: red;
   
}
.archive-note:hover{
    color: greenyellow;
}
#notes {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin: 5%;
}
.button-group{
    float: right;
}
.ellipsis{
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    padding: 5px 10px;
}
.dropdown-menu{
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    border: 1px solid black;
}
.dropdown-menu li{
    padding: 8px 14px;
    background-color: #292a2d;
    cursor: pointer;
}
.nav{
    /* width: 100%; */

    position: absolute;
    right: 1%;
}
.nav button{
    cursor: pointer;
    border: none;
}
.heading{
    color: white;
}
.disabled{
    display: none;
}
.restore-note:hover{
    color: #00FFFF;
}
@media screen and (max-width:480px){
    .nav{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .nav button{
        padding: 0% 20px;
    }
}